.input {

    border: none;
    width: 230px;
    outline: none;
    padding: 5px 10px;
    text-transform: capitalize;

}

.input_container{

    margin: 5px;
    width: 280px;
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    justify-content: space-between;

}

.input_img{

    width: 25px;
    height: 25px;
    margin: 0 auto;

}