.main {

    margin: 0 auto;
    width: clamp(200px, calc(100% - 200px), 1200px);

}

.section {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.container {

    width: 100%;
    min-height: 60px;

}

.password_container {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.form {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}