@import '../../style/color.scss';
@import '../../style/mixin.scss';

.navigation {

    width: 100%;
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: flex-end;
    background-color: $blue200;

}

.paragraph {

    color: white;
    transition: .2s;
    font-weight: bold;
    user-select: none;
    margin-right: 20px;
    text-transform: uppercase;
    
}

.lagout:hover{

    color: gray;
    cursor: pointer;

}